!!! Strict
%html
  %head
    %title= "Things You Don't Know About History"
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery', 'application'
    = yield_content :include
  %body
    #header
      %h1 Things Your History Teacher Won't Tell You:
    #container
      #main= yield
    #footer
      Copyright &copy; 2012 (EN) GAGE
